<ion-view view-title="Contact Us" id="contactuspage">
    <ion-content>
        <div class="list card">
            <div class="contact-section text-center">
                <div class="brand-banner">
                    <img src="img/login-logo.png" alt="">
                </div>
                <h4><a href="#" onclick="window.open('http://www.ssschoolofexcellence.com/', '_system');"><i class="fa fa-internet-explorer"></i><br> ssschoolofexcellence.com</a>
                </h4>
                <h4><a href="#" onclick="window.open('mailto:ssschoolofexcellence@gmail.com?Subject=Enquiry', '_system');"><i class="fa fa-envelope-o"></i><br> ssschoolofexcellence@gmail.com</a>
                </h4>
            </div>
        </div>
    </ion-content>
</ion-view>
