<ion-view view-title="Documents" id="documentspage">
    <ion-content>
         <div class="buttons">
            
        </div>
        <div class="list card" ng-repeat="documents in documents">
                <div class="item">
                    <h2><i class="fa fa-1x "></i>&nbsp;{{documents.document_title}}</h2>
                </div>
                <div class="item item-body">
                    <img class="full-image" src="{{documents.file_path}}" ng-if="documents.file_path">
                    <br/>
                    <p class="description">{{documents.document_description}}</p>
                    <i class="fa fa-paperclip" aria-hidden="true"></i><!-- <div ng-click="SaveFile(documents.file_path)">{{documents.document_title}}</div> --><a href="{{documents.file_path}}">&nbsp;{{documents.document_title}}</a>
                </div>
        </div>
    </ion-content>
</ion-view>
