<style>
    .title-left{
        opacity: 1!important;
        display: block!important;
    }
</style>
<ion-header-bar class="bar-stable bar bar-header disable-user-behavior" align-title="left"><button class="button back-button hide buttons button-clear header-item" ng-click="$ionicGoBack()">
               <button class="button button-clear closebutton" ng-click="goBackevent()"><i class="ion-arrow-left-a"> {{eventData.name}}</i></button>
           <div class="title title-left header-item"></div>
</ion-header-bar>
<ion-view view-title="{{eventData.name}}" id="eventpage">
    <ion-content>
        <div class="list big-card">
          <div class="item">
            <p>
              {{eventData.description}}
            </p>
          </div>
        </div>
        <div class="list card" ng-repeat="eventDetail in eventDetails">

            <div class="item">
                <p class="pull-right timeago" ng-hide="eventDetail.content_type=='3'"><i class="fa fa-clock-o"></i> {{eventDetail.timeago}}</p>
                <a ng-click="shareAnywhere(eventDetail)"><i class="fa fa-share-alt-square fa-2x"></i></a>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{eventDetail.content}}" ng-show="eventDetail.content_type=='4'">
                <a ng-href="{{eventDetail.content}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" ng-show="eventDetail.content_type=='5'"><img class="full-image" src="img/video_overlay.png" /></a>
                <p ng-show="eventDetail.content_type=='3'">
                    {{eventDetail.content}}
                </p>
                <p>
                    {{eventDetail.name}}
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left"  ng-hide="eventDetail.content_type=='3'">
                <a class="tab-item btn-success small-icon" ng-click="contentLike(eventDetail.event_content_id, 1, eventDetail)" ng-class="{'like': eventDetail.like_or_dislike==1}">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item btn-danger small-icon" ng-click="contentLike(eventDetail.event_content_id, 0, eventDetail)" ng-class="{'dis-like': eventDetail.like_or_dislike==0}">
                    <i class="icon ion-thumbsdown"></i>
                    Dislike
                </a>
                <a class="tab-item btn-warning" ng-click="reportAbuse(eventDetail.event_content_id)">
                    <i class="icon ion-alert-circled"></i>
                    Report Abuse
                </a>
              <!--   <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a> -->
            </div>

        </div>
    </ion-content>
</ion-view>
