<ion-view view-title="Events" id="eventspage">
    <div class="item-avatar-right" menu-toggle="right" ng-show="{{defaultSchool!=null}}">
        <img src="{{menuData.school.school_logo}}" />
    </div>
    <ion-content>
        <div class="buttons">
           
        </div>
        <div class="list card" ng-repeat="event in events | limitTo:20">
            <!-- <a ui-sref="app.single({event_id: event.event_id})"> -->
            <a ui-sref="app.single({event_id: event.event_id})">
                <div class="item">
                    <h2><i class="fa fa-1x " ng-class="{'fa-bullhorn':event.event_type_name=='Announcement', 'fa-calendar':event.event_type_name=='Event'}"></i>&nbsp;{{event.name}}</h2>
                </div>
                <div class="item item-body">
                    <img class="full-image" ng-src="{{event.Eventimage}}" ng-if="event.Eventimage">
                    <br/>
                    <p class="description">{{event.description}}</p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-right " ng-hide="eventDetail.content_type=='3'">
                    <div class="timeago"> <i class="fa fa-clock-o"></i> {{event.timeago}}</div>
                </div>
            </a>
        </div>
      <!--   <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
            Previous
        </button>
            {{currentPage+1}}/{{numberOfPages()}}
        <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
            Next
        </button> -->
    </ion-content>
</ion-view>
