<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear">
                <i class="ion-chevron-left"></i>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
                <div class="item-avatar-right" menu-toggle="right">
                    <img ng-src="{{menuData.school.school_logo}}" />
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id="menupage">
        <!-- <ion-header-bar class="bar-stable">
    </ion-header-bar> -->
        <ion-content>
            <ion-list>
                <!--  ng-repeat="school in schools" > -->
                <ion-item menu-close class="bar-stable">
                    <h1 class="title item-divider">
                        <div class="item-avatar">
                            <img src="{{menuData.school.school_logo}}" />
                        </div>
                        <p class="item-note">{{menuData.school.school_name}}</p>
                    </h1>
                </ion-item>
                <ion-item menu-close id="item-student">
                    <h1 class="title item-divider">
                        <div class="item-avatar">
                            <img src="{{menuData.student.student_photo}}" />
                        </div>
                        <p class="item-note">{{menuData.student.firstname}} {{menuData.student.lastname}} </p>
                        <p class="item-note gr-no">Standard : [{{menuData.student.student_Class}}]</p>
                        <p class="item-note gr-no">GR No. : [{{menuData.student.gr_number}}]</p>
                    </h1>
                </ion-item>
        
            
            <!--  static Menu  > -->
            
            <ion-list ng-repeat-start="staticmenu in menuData.menu.menu" >
                <ion-item menu-close href="" 
                          ng-click=" SwitchFuction(staticmenu.mtype, staticmenu.mname, menuData.school.school_id, menuData.student.student_id, menuData.student.gr_number, staticmenu.id)"
                          >
                <i ng-class="{1:'fa fa-calendar', 2:'fa fa-building',3:'fa fa-users', 4:'fa fa-envelope', 5:'fa fa-table', 6:'fa fa-file-word-o', 7:'fa fa-book', 8: 'fa fa-file-text', 9: 'fa fa-fax', 10: 'fa fa-tasks', 11: 'fa fa-calendar-check-o'}[staticmenu.seq_no]" >
                    </i>&nbsp;&nbsp;{{staticmenu.title}}
                </ion-item>
            </ion-list>
            <div ng-if="staticmenu.seq_no == 4" ng-repeat-end>
                <ion-item menu-close id="item-academics" class="bar-stable">
                    <h1 class="title academics  item-divider">
                        <p>Academics</p>
                    </h1>
                </ion-item>
                <ion-list><ion-item menu-close href="" ng-click="GetStudentsMatrials(menuData.student.student_ClassId);"><i class="fa fa-file"></i>&nbsp;&nbsp;Students Materials</ion-item></ion-list>
            </div>
            <!-- <ion-list><ion-item menu-close href="" ng-click="GetMessages(menuData.student.student_ClassId);"><i class="fa fa-commenting"></i>&nbsp;&nbsp;Messages&nbsp;<sup class="price" style="color: #e21b18;"><i class="fa fa-bell"></i></sup></ion-item></ion-list> -->

            <ion-list><ion-item menu-close ui-sref="app.messages({class: menuData.student.student_ClassId, parentid: ParId})" ><i class="fa fa-commenting"></i>&nbsp;&nbsp;Messages&nbsp;<sup class="price" style="color: #e21b18;"><i class="fa fa-bell"></i></sup></ion-item></ion-list>

            <ion-list>
                <ion-item menu-close ui-sref="app.contactus" class="mm-logo">
                </ion-item>
            </ion-list>
             <ion-list >
                <ion-item menu-close ng-click=" BackToStudent()">
                    <i ng-class="ion-arrow-left-a"></i>&nbsp;&nbsp;Child List
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close ng-click="signOut()">
                    <i ng-class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign-Out
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
