<ion-view view-title="Messages" id="messages">
    <ion-content class="padding has-subheader">
        <!--  <div class="list">
            <a ng-repeat="data in faculty" class="item item-avatar" href="" ng-click="GetMessagesDetail();">
                <img src="{{data.imgPhoto}}" />
                <h2>{{data.strFacultyName}}</h2>
                <p>-</p>
            </a>
        </div> -->
        <!-- <div class="list">
            <a ng-repeat="data in faculty" class="item item-avatar" ng-click="GetMessagesDetail();" href="#">
                <img src="{{data.imgPhoto}}" />
                <h2>{{data.strFacultyName}}</h2>
            </a>
        </div> -->
        <div class="card" ng-repeat="data in faculty">
            <a href="" class="item-content" ng-click="GetMessagesDetail(data.intUserId);">
                <div class="item item-avatar studentlist">
                    <img ng-src="{{data.imgPhoto}}">
                    <h2 class="ng-binding">{{data.strFacultyName}}</h2>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
