<ion-view view-title="Messages Detail" id="messagesDetail">
    <ion-content class="content-stable padding " on-swipe-left="hideTime = false" on-swipe-right="hideTime = true" scroll="true" overflow-scroll="false">
        <div ng-repeat="message in msg" ng-class="{other: message.user_id == myId}" class="messages">
            <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
                <span>{{ message.msg }}</span>
            </div>
            <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.send_datetime }}</div>
        </div>
        <div ng-if="msg == 0" class="text-center"><span class="msgerror">{{errmsg}}</span></div>
         <div id="myAnchor"></div>
    </ion-content>

     <ion-footer-bar keyboard-attach  hide-on="scroll-down" show-on="scroll-up" class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-clear" ng-click="sendMessage()">
        Send
      </button>
    </ion-footer-bar>
</ion-view>
