<ion-view>
    <ion-nav-title>{{title}}</ion-nav-title>
    <ion-content>
       
        <div class="list card">
               <!--  <div class="item">
                    <h2><i class="fa fa-1x " ng-class="{'fa-bullhorn':event.event_type=='2', 'fa-calendar':event.event_type=='1'}"></i>&nbsp;{{Data.data.article_name}}</h2>
                </div> -->
                <div class="item item-body">
                    <img class="full-image" src="{{Data.data.Dataimage}}" ng-if="Data.data.Dataimage">
                    <br/>
                    <!-- <p class="description">{{Data.data.article_description | htmlToPlaintext}}</p> -->
                    <p ng-bind-html="myHTML" compile-template></p>
                </div>
        </div>
    </ion-content>
</ion-view>
