    <ion-view view-title="Results" id="resultspage">
    <ion-content>
        <div class="buttons"></div>
        <div class="card">
        <div class="item panel">
            <form ng-submit="getExam(examForm)" name="examForm" novalidate>
                <div class="list">
                    <label class="item item-input" ng-class="{ 'has-error' : examForm.grno.$invalid && !examForm.grno.$submit }">
                        <i class="fa fa-user placeholder-icon"></i><input type="text" placeholder="Student GR No" name="grno" ng-model="resultData.grno" required>
                    </label>
                    <label class="item item-input item-select" ng-class="{ 'has-error' : examForm.exam.$invalid && !examForm.exam.$submit }">
                        <i class="fa fa-user placeholder-icon"></i>
                        <div class="input-label">
                            Select Exam
                        </div>
                        <select ng-model="resultData.exam" ng-options="selectResults as selectResults for selectResults in selectResult.data" required>
                        </select>
                    </label>

                    <label class="item button-full">
                        <button class="button button-block button-balanced login" type="submit">Get Results</button>
                    </label>
                </div>
            </form>
        </div>
        </div>

        <div ng-if="results"><div class="item">
                    <h2>Student Name :&nbsp;{{results.stud_detail.firstname}} {{results.stud_detail.lastname}}</h2>
                    <p class="description">Student Class :&nbsp;{{results.stud_detail.student_Class}}</p>
                   <!--  <div class="item-avatar-right" menu-toggle="right">
                        <img src="{{results.stud_detail.student_photo}}" />
                    </div> -->
                </div>
        
                <div class="row header" style="color: #fff; ">
                    <div class="col">Exam Date</div>
                    <div class="col">Subject Name</div>
                    <div class="col">Obtain Marks</div>
                    <div class="col">Out of Marks</div>
        
                </div>
                <div class="row" ng-repeat="result in results.result">
                    <div class="col">{{result.exam_date}}</div>
                    <div class="col">{{result.strSubjectName}}</div>
                    <div class="col">{{result.obtain_marks}}</div>
                    <div class="col">{{result.outof_marks}}</div>
                </div>
                <div class="row" colspan='3' class="col-lg-8 text-right">
                    <div class="col">Total</div>
                    <div class="col">
                        <div class="" style=" float:left;width: 50%;border-right: solid 1px #387ef5;">{{results.result | sumOfValue:'obtain_marks'}}</div>
                        <div class="">{{results.result | sumOfValue:'outof_marks'}}</div>
                        
                    </div>
                </div>
        </div>
        <div ng-if="!results" class="no-result">
            <h2>NO RECORD FOUND</h2>
        </div>

    </ion-content>
</ion-view>
