<ion-modal-view id="signupview">
    <ion-content id="siguppage">
     <div class="card">
        <div class="icon">
         <!--    <img src="../img/transparent-icon-cloud.png"> -->
            <img class="login-logo" src="img/login-logo.png" alt="My School">
        </div>
        <div class="item panel">
            <form ng-submit="doSignUp(userForm)" name="userForm" novalidate>
                <div class="list">

                    <label class="item item-input" ng-class="{ 'has-error' : userForm.contactno.$invalid && !userForm.contactno.$submit }">
                        <span class="input-label">Contact No.</span>
                        <input type="number" name="contactno" ng-model="singupData.contactno" required>
                    </label>
                    <label class="item item-input" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$submit }">
                        <span class="input-label" style="width: 20%;">Password</span>
                        <input type="password"  name="password" ng-model="singupData.password" required>
                    </label>
                   
                    <label class="item button-full">
                        <button class="button button-block button-positive login" type="submit">Sign In</button>
                    </label>
                </div>
            </form>
            <a class="item item-icon-left positive" href="#/signup">
                Sign up for a new account
            </a>
        </div>
    </div>
    <a href="#/forgotPassword"> Forgot Your Password?</a>
    </ion-content>
       <div class="copyright">
            Copyright <i class="fa fa-copyright"></i>2015 My School. 
        </div>
 </ion-modal-view>
