<ion-modal-view id="signupview">
    <div class="buttons">
        <button class="button button-clear closebutton" ng-click="closeLogin()"><i class="ion-arrow-left-a"> BACK</i></button>
    </div>
    <ion-content id="siguppage">
        <div class="card">
            <div class="icon">
                <!--    <img src="../img/transparent-icon-cloud.png"> -->
                <img class="login-logo" src="img/login-logo.png" alt="My School">
            </div>
            <div class="item panel">
                <form ng-submit="doLogin(userForm)" name="userForm" novalidate>
                    <div class="list">

                        <label class="item item-input" ng-class="{ 'has-error' : userForm.contactno.$invalid && !userForm.contactno.$submit }">
                        <span class="input-label">Contact No.</span>
                        <input type="number" name="contactno" ng-model="loginData.contactno" required>
                    </label>
                        <label class="item item-input">
                        <span class="input-label" style="width: 20%;">Email</span>
                        <input type="text"  name="email" ng-model="loginData.email" >
                    </label>
                        <label class="item item-input" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$submit }">
                        <span class="input-label">Password</span>
                        <input type="password" name="password" ng-model="loginData.password" required>
                    </label>
                        <label class="item button-full">
                        <button class="button button-block button-positive  " type="submit">Sign Up</button>
                    </label>

                    </div>
                </form>
            </div>
        </div>
    </ion-content>
    <div class="copyright">
        Copyright <i class="fa fa-copyright"></i>2015 My School.
    </div>
</ion-modal-view>