<ion-view view-title="Students Matrial" id="studentsmatrials">
    <ion-content>
         <div class="buttons">
            
        </div>
        <div class="list card" ng-repeat="(strSubjectName, docdetail) in documents | groupBy:'strSubjectName'">
                <div class="item doc">
                    <h2><i class="fa fa-1x "></i>&nbsp;{{strSubjectName}}</h2>
                </div>
                <div ng-repeat="detail in docdetail">
                    <div class="item item-body">
                        <p ng-bind-html="trustAsHtml(detail.document_description)" class="description" ng-if="detail.document_description"></p>
                        <br/>
                        <i class="fa fa-file-word-o" aria-hidden="true"></i>&nbsp;<span class="docstyle">{{detail.created_date}}</span>
                        <i class="fa fa-paperclip" aria-hidden="true"></i><!-- <div ng-click="SaveFile(detail.file_path)">{{detail.document_title}}</div> --><a ng-click="SaveFile(detail.file_path, detail.file_type)">&nbsp;{{detail.document_title}}</a>
                        <hr/>
                    </div>
                </div>
        </div>
    </ion-content>
    <script id="imagepopup-template.html" type="text/ng-template">
        <div class="" on-swipe-down="closeModal()">
            <div class="image"><img ng-src=" {{aImages}}" style="width:100%"></div>
        </div>
    </script>

    <script id="audiopopup-template.html" type="text/ng-template">
        <div class="" on-swipe-down="closeModal()">
            <div class="image">
                <audio controls>
                    <source ng-src="{{aaudio | trusted}}" type="audio/ogg">
                </audio>
            </div>
        </div>
    </script>

    <script id="videopopup-template.html" type="text/ng-template">
        <div class="" on-swipe-down="closeModal()">
            <div class="image">
                <video width="100%" autoplay preload='metadata' controls>
                    <source ng-src="{{avideo | trusted}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </script>
    <style type="text/css">
        .popup-container .popup {
            width: 350px;
         }
         .popup-body {
            padding: 0px;
            overflow: auto;
        }
    </style>
</ion-view>
