<ion-header-bar class="bar-balanced">
      <h1 class="title" id="studentlist" > Child List</h1>
      <div class="button button-light" ng-click="signOut()">
        Sign Out
      </div>
</ion-header-bar>
<ion-view view-title="Students">
    <ion-content id="item-student" style="top:45px !important">
        <div class="card" ng-repeat="studentdata in data">
            <a href="#/app/{{studentdata.student.student_id}}" class="item-content">
              <span>GR No:</span><span>{{studentdata.student.gr_number}}</span>
              <hr>
              <center><strong>{{studentdata.school.school_name}}</strong></center>
            <div class="item item-avatar studentlist">
                <img ng-src="{{studentdata.student.student_photo}}">
                <h2 class="ng-binding">{{studentdata.student.firstname}} {{studentdata.student.middlename}} {{studentdata.student.lastname}}</h2>
                <p class="ng-binding"><b>Std</b>.: {{studentdata.student.student_Class}}</p>
            </div>
            </a>
        </div>
    </ion-content>
</ion-view>
