/* Empty. Add your own CSS if you like */
 .item-content {
    width:100%!important;
    padding: 16px 16px 16px 16px!important;
}
#contactuspage {
    /*background-color: #2032a0;*/
    background-color: #f8f8f8;
}
#contactuspage .card .item {
    border:solid 0px #ffffff;
    /*background-color: #2032a0;*/
    background-color: #f8f8f8;
}
#contactuspage .card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    /*background-color: #2032a0;*/
    background-color: #f8f8f8;
}
#siguppage {
    background-color: #2032a0;
}
#siguppage .card {
    margin-top: 0%;
}
#siguppage .button-full {
    padding-left:0px;
    padding-right:0px;
}
/*#siguppage button{
    background-color: #2032a0;
}*/
 #siguppage .icon {
    /*background-color: #2032a0;*/
    text-align: center;
    /*border:solid 0px #2032a0;*/
}
#siguppage .card {
    padding-top:0px;
}
#siguppage .card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    /*background-color: #2032a0; */
    background-color: transparent;
}
#siguppage .card label {
    background-color: #f0f0f0;
}
#siguppage .panel {
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
#siguppage .button-full {
    padding-bottom: 0px;
}
.bar.bar-stable {
/*    border-color: #2032a0;
    background-color: #2032a0;
    background-image: linear-gradient(0deg, #2032a0, #2032a0 50%, transparent 50%);*/
    color: #ffffff;
    height:66px;
    background-color: #ffffff !important;
}
.bar-stable .button.button-icon {
    border-color: transparent;
    background: none;
    /*color: white;*/
}
#aboutactivitypage .scroll-content, #aboutmanagementpage .scroll-content, #aboutschoolpage .scroll-content, #eventpage .scroll-content, #eventspage .scroll-content {
    background-color: #f8f8f8;
    /*margin-top:21px;*/
}
#signupview, #signupview .scroll-content {
    /*background-color: #2032a0;*/
    /*background: linear-gradient(to bottom right, #2032a0 0%, #53e3a6 100%);*/
    background: linear-gradient(to bottom right, #ffffff 0%, #90b9a8 100%);
}
#menupage .item-complex .item-content, .item-radio .item-content {
    background-color: #f8f8f8;
}
.bar.bar-stable .title {
    /*color: #ffffff;*/
    font-size: 22px;
    margin-top: 11px;
    left: 30% !important;
    transform: translateX(-30%) !important;
    -ms-transform: translateX(-30%)!important;
    -webkit-transform: translateX(-30%)!important;
    right: 0px !important;
    text-align:left;
}
#menupage .title {
    text-align: left;
}
#menupage .title p {
    margin-top: 15px;
}
.bar-stable .button.button-clear {
    /*color: #ffffff;*/
}
.bar-stable .button:hover {
    color: #444444;
}
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 0px;
    left: 1px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.login-logo {
    width: 180px;
    margin: 0 auto;
    display: block;
    padding: 0 0 30px;
}
#login {
    background: #2196f3;
    border: none;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.999;
    padding: 8px 0;
    position: relative;
    -webkit-transition: 0.2s ease background;
    transition: .2s ease background;
    width: 100%;
}
#signupview .scroll {
    position: absolute;
    display: block;
    left: 50%;
    max-width: 360px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(-50%, -50%)!important;
    -webkit-transform: translate(-50%, -50%)!important;
    transform: translate(-50%, -50%) !important;
    width: 90%;
    z-index: 2;
}
#signupview .input-label {
    font-size:14px !important;
}
#signupview .item-input {
    padding: 6px 0 5px 5px!important;
}
#signupview button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.item-complex, a.item.item-complex, button.item.item-complex {
    padding: 0;
    margin: 5px 5px 10px 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* background-color: #cccccc; */
}
.list {
    background-color: #e7e7e7;
}
.item-avatar-right > img:first-child, .item-avatar-right .item-image, .item-avatar-right .item-content > img:first-child, .item-avatar-right .item-content .item-image {
    position: absolute;
    top: 7px;
    right: 16px;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.timeago {
    font-size:12px !important;
}
.description {
    font-size:14px;
}
h2 i {
    padding-right: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}
.item p {
    white-space: normal;
}
.bar-stable .button.button-clear {
    margin-top:7px;
}
.brand-banner {
   /* background: #2032A0;*/
    padding: 10% 0;
    margin: 0 0 20px;
}
#contactuspage .list {
    /*background-color: #2032A0;*/
}
.brand-banner img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
#contactuspage .contact-section {
    margin-top:10px;
}
#contactuspage h4, #contactuspage a {
    color: #222;
    text-decoration:none;
}
#contactuspage a:active {
    color: #e60e0e;
}
#menupage .fa-envelope {
    color:#4d0e6c;
}
#menupage .fa-users {
    color:#a0262a;
}
#menupage .fa-building {
    color:#ed1c24;
}
#menupage .fa-calendar {
    color:#60ae3e;
}
#menupage .item-complex, a.item.item-complex, button.item.item-complex {
    padding: 0;
    margin: 0px 0px 1px 0px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    /* background-color: #cccccc; */
}
/*#menupage .about-my-school{
    font-size: 16px;
    font-weight: bold;
}*/
 #menupage .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 0px;
    min-height: 0px;
}
#menupage .item-divider, #menupage .bar-stable {
    background-color: #60ae3e !important;
    color: #fff !important;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 10px !important;
    border-width: 1px;
    border-style: none;
    font-size: 18px;
    height: 69px;
}
#menupage .item-divider p {
    color: #fff !important;
    width: 250px;
}
#menupage .item-note {
    float: left!important;
    padding-left:55px;
    margin-top:-3px!important;
    font-size:17px;
}
#menupage .item-content {
    padding:10px 10px 10px 10px!important;
    font-size: 12px;
}
#menupage .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    max-width: 55px;
    max-height: 55px;
    background: white;
}
#menupage .mm-logo a:before {
    background: url(../img/main2.png) #ffffff no-repeat;
    width: 246px;
    height: 58px;
    content:"";
    float: left;
    /*background: #2032A0 !important;*/
}
#menupage .mm-logo .item-content {
    background: #ffffff !important;
}
#eventpage .timeago {
    font-size: 12px;
    padding-top: 5px;
    width: 150px;
    text-align: right;
}
#eventpage .fa-share-alt-square {
    color: green;
}
#contactuspage {
    /*background-color: #2032A0 !important;*/
}
.copyright {
    position: absolute;
    bottom: 2%;
    color:white;
    font-weight: bold;
    left:5%;
}
#eventspage .timeago {
    position: absolute;
    right:15px;
}
.contact-section i {
    background: #222;
    border-radius: 50%;
    color: #fff;
    margin: 10px 0 20px;
    padding: 10px;
}
.item .activated {
    background-color: #ccc !important;
    color: #333 !important;
}
#eventspage a {
    text-decoration: none;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    font-size: 11px !important;
    font-weight: bold;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 11px !important;
    font-weight: bold;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 11px !important;
    font-weight: bold;
}
.like {
    opacity: 1;
    filter: alpha(opacity=100);
}
.dis-like {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tabs-icon-left a:first-child{
    margin-left: 3px !important;    
}
.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
    margin: 3px 3px 3px 0px;
}
.small-icon{
    max-width: 100px;
}
.tab-item{
    height: 92%;
}
.item{
    border-width: 2px;
}
#menupage .academics p{
    margin-top: 4px;
}
#menupage .academics{
    height:38px!important;
    padding: 0px !important;
}
#item-academics{
    height:38px!important;
}
#item-student .item-divider{ 
    background-color: transparent !important;
    color:#333333!important; 
}
#item-student .item-divider p{ 
    color:#333333!important; 
}

#item-student .gr-no{
    padding-top: 8px;
    font-size: 10px;
}

#item-student .title{
    margin-left: -10px;
}
#menupage #item-student .item-note{
    padding-left: 75px;
}
#menupage #item-student .item-avatar img{
    max-width: 70px;
    max-height: 70px;
}
#item-student{
    background-color: #f9f9f9;
}
.closebutton{
    z-index: 1;
}

#studentlist{
    text-align: center !important;
}

.studentlist img{
    top: 5px !important;
    left: 8px !important;
}


.header .col {
  background-color:#387ef5;
}

.col {
  border: solid 1px #387ef5;
  border-bottom-style: none;
  border-right-style: none;
  text-align: center;
  
}

.col:last-child {
  border-right: solid 1px #387ef5;
}

.row:last-child .col {
  border-bottom: solid 1px #387ef5;
}
.no-result{
    text-align: content;
    padding:50px;
}

.docstyle{
    margin: 0 0 2px 0;
    font-size: 13px;
    font-weight: normal;
    float: right;
}


.drive-viewer-toolstrip{
    display: none !important;
    opacity: 0 !important;
}

.doc{
    background: #f8f8f8;
}

.doc h2{
    color: #5dad39;
    font-weight: bold;
}



.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
.time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}
.messages.other span {
  color: black !important;
  background-color: #8ae1e2 !important;
}

.messages span {
    background: #57b15c !important;
    display: inline-block !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 10px !important;
    text-align: left !important;
    max-width: 240px !important;
}

span.msgerror {
    background: #9a9a9a !important;
    display: inline-block !important;
    color: white !important;
    padding: 10px !important;
    border-radius: 10px !important;
    margin: 10px;
}

/*.scroll {
  padding: 10px 0 50px !important;
}*/